.container#simple
  .page-header
    %h1= resume.biodata.name
    - if resume.biodata.tagline.present?
      %small= resume.biodata.tagline
  .sub-header
    %ul.list
      %li
        %span.item-title email:
        %span.item-value= resume.biodata.email
      %li
        %span.item-title phone:
        %span.item-value= resume.biodata.phone
      %li
        %span.item-title address:
        %span.item-value= resume.biodata.address

  - resume.attributes.each do |attribute, value|
    .section{:id => attribute}
      %h2.section-title= attribute.to_s.gsub("_", " ").split(" ").map(&:capitalize).join(" ")
      - if value.is_a? Array
        - value.each do |item|
          .sub-section
            %h3= item.title
            - if item.sub_title.present?
              .sub-title= item.sub_title
            - if item.description.present?
              %p.summary= item.description
            - if item.points.present?
              %ul.points
                - item.points.each do |point|
                  %li= point
      - else
        %p= value
